body {
    font-family: sans-serif;
    background: #fff;
    color: #000;
    width: 1024px;
    margin: 0 auto 1em;
}

.num { font-family: monospace; text-align: right }
.right { text-align: right }
tbody tr:nth-child(even) { background: #eee; }

tr.match.win-home td:nth-child(2), tr.match.win-away td:nth-child(5) { font-weight: bold; }

tr.match td.num { width: 3em; }

thead th, tfoot td {
    background: #000;
    color: #fff;
    font-weight: bold;
}

/* table { width: 100%; } */

caption { font-weight: bolder; }

table.matches {
    margin-bottom: 1em;
    width: 100%;
}

table.matches .team-name { width: 45%; }

tbody tr.highlight, td.num.max {
    font-weight: bold;
    background-color: darkblue;
    color: #fff;
}

#matches {
    font-size: 90%;
}

#team label {
    display: block;
}

.button {
    display: inline-block;
    border: 1px solid #333;
    margin: auto;
    text-transform: uppercase;
}

@media print {
    #toc, #team { display: none; }

    article { break-inside: avoid; }

    table { width: auto; }

    tbody tr.highlight { background-color: none; }

    #results {
        break-before: page;
    }
}
